body {
  background-color: #121212;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

textarea {
  background-color: #1e1e1e !important;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  height: 300px;
  margin: 20px;
  resize: none;
  width: 80%;
}

button {
  background-color: #1976d2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1565c0;
}

.download-button {
  display: inline-block;
  background-color: #1976d2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.download-button:hover {
  background-color: #1565c0;
}

.download-button:active {
  position: relative;
  top: 2px;
}

.token-div {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.purple-text {
  color: #ff66ff;
  font-weight: bold;
  margin: 20px;
}

.token-div input {
  background-color: #1e1e1e !important;
  width: 50%;
  height: auto;
  border: 1px solid #ccc;
  word-wrap: break-word;
  color: #fff;
}

.copy-button {
  background-color: #1e1e1e;
}
